@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  font-family:  "Montserrat", sans-serif;
}

.container{
  /* border: 2px rgb(47, 0, 255) solid; */
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  padding: 0 5rem;
}

.mg-heading{
  font-size: 2rem;
}

.parafontsize{
  font-size: 1.3rem;
}

a{
  text-decoration: none;
  color: white;
}

/****************************************************************************/
.navbar{
  /* border: 2px solid red; */
  background-color: #334147;
  padding: 2.5rem;
}
.navbar::after{
  content: "";
  display: block;
  clear: both;
}

.navbar h1{
  float: left;
  color: white;
}
.navbar ul{
  float: right;
}

.navbar ul li{
  display: inline-block;
  padding-right: 2rem;
  font-size: 1.5rem;
}


/******************************************** about us ***********************************************/

.aboutus{
  /* border: 2px solid red; */
  padding: 5rem 0;
}

.aboutus h1{
  border-bottom: 2px rgb(243, 22, 59) solid;
  color: rgb(161, 32, 54);
  font-weight: 500;
  padding: 0.5em;
}

.aboutus p{
  /* border: 2px solid gray; */
  padding: 0.6rem;
}

.bothlist{
  /* border: 2px rgb(15, 0, 3) solid; */
  width: 100%;
  padding: 0.5em 0;
  text-align: center;
  line-height: 20px;
}

.bothlist::after{
  content: "";
  display: block;
  clear: both;
}

.firstlist{
  /* border: 2px rgb(5, 0, 15) solid; */
  width: 50%;
  float: left;

}
.secondlist{
  /* border: 2px rgb(170, 1, 35) solid; */
  width: 50%;
  float: right;
}

.bothlist li:before {
  content: '✓  '; 
 }

 .four{
    /* border: 2px rgb(170, 1, 35) solid; */
    width: 100%;
 }
 .four::after{
  content: "";
  display: block;
  clear: both;
}

 .four .one, .two, .three, .fourth{
  /* border: 1px solid blue; */
  width: 25%;
  float: left;
  text-align: center;
  padding: 1em;
 }

 .bottom{
  /* border: 2px solid black; */
  background-color: crimson;
  width: 100%;
  color: white;
 }

 .bottom::after{
  content: "";
  display: block;
  clear: both;
 }

 .bottom p{
  /* border: 2px solid white; */
  width: 50%;
  float: left;
  font-weight: 500;
 }

 .bottom .btn{
  /* border: 2px solid white; */
  width: 50%;
  float:right;
  text-align: center;
  padding: 0.5em;
 }

 .bottom a{
  border: 2px solid white;
  padding: 0.1em 1em;
  border-radius: 5px;
 }


 /********************************Media Query******************************************/
@media (max-width:500px) {
  .navbar{
    padding: 1rem 0;
  }
  .navbar h1, ul{
    float: none;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
  }
  .navbar ul li{
    padding-right: 0.5rem;
    font-size: 1rem;
  }
  
}
@media screen and (max-width:600px) {
  .aboutus .parafontsize{
    font-size: 1.1rem;
    font-weight: 500;
  }

  .mg-heading{
    font-size: 1.5rem;
  }
}