@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  font-family:  "Montserrat", sans-serif;
}

.container{
  /* border: 2px rgb(47, 0, 255) solid; */
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  padding: 0 3rem;
}

.mg-heading{
  font-size: 1.5rem;
}

.parafontsize{
  font-size: 1.3rem;
}

a{
  text-decoration: none;
  color: white;
}

/************************************** Navbar Section **************************************/
.navbar{
  /* border: 2px solid red; */
  background-color: #334147;
  padding: 2.5rem;
}
.navbar::after, 
.container::after{
  content: "";
  display: block;
  clear: both;
}

.navbar h1{
  /* border: 1px solid white; */
  float: left;
  color: white;
}
.navbar ul{
  /* border: 1px solid white; */
  float: right;
}

.navbar ul li{
  display: inline-block;
  padding-right: 2rem;
  font-size: 1.5rem;
}

/************************************* Contact section *****************************************/

.contactform{
  /* border: 3px solid red; */
  padding: 5% 0;
}

/* .fromwrapper{
  border: 2px solid black;
} */

.fromwrapper::after{
  content: "";
  display: block;
  clear: both;
}

.addressInfo{
  /* border: 1px solid green; */
  float: left;
  width: 49%;
  padding: 1rem;
}

.addressInfo .address-group{
  margin-bottom: 2rem;
}

.addressInfo img{
  width: 90%;
  height: 30rem;
  object-fit: cover;
}

.form{
  /* border: 1px solid gray; */
  float: right;
  width: 49%;
  padding: 1rem;
}

.address-group h2{
  display: inline;
}

.address-group p{
  padding: 1rem 0;
  font-weight: 500;
}

/*******************************Form Info********************************************/
.form h1{
  font-size: 2rem;
}
.form h1::after{
  content: "";
  display: block;
  border: 3px solid #e63946;
  margin: 1rem 0;
}

.form label{
  display: block;
}
.form label::after{
  content: "*";
  color: red;
}
.form input{
  width: 100%;
}
.form .form-group{
  margin: 1.2rem 0;
}
.form textarea{
  width: 100%;
  height: 220px;
}

.form-btn{
  display: block;
  margin: 0 auto;
  padding: 0.5em 3em;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: #e63946;
}

/*************************************Footer**********************************/
footer{
  /* border: 1px solid green; */
  background-color: #919597;
  width: 100%;
  text-align: center;
  padding: 1.5rem 0;
 }

 footer img{
  margin-right: 20px;
  width: 4em;
  height: auto;
 }

 footer p{
  font-size: 1.5rem;
  font-weight: 500;
 }

 /*****************************Media Query***************************************/

@media screen and (max-width:540px) {
  .fromwrapper .addressInfo,
  .fromwrapper .form{
    float: none;
    width: 100%;
  }

  .fromwrapper .form{
    margin-top: 5rem;
  }
  .mg-heading{
    font-size: 1.3rem;
  }
  .parafontsize{
    font-size: 1rem;
  }

  .navbar{
    padding: 1.2rem;
  }

  .navbar h1{
    font-size: 2rem;
  }

  .navbar ul li{
    font-size: 1.35rem;
    padding-right: 1.3rem;
  }
  
  .navbar h1, ul{
    padding: 0.5rem;
    float: none;
    text-align: center;
    width: 100%;
  }

  footer{
    padding: 1rem 0;
   }
  
   footer p{
    font-size: 1rem;
   }
  
   footer img{
    width: 2.5em;
   }

}

@media screen and (max-width:310px) {

  .navbar ul li{
    padding-right: 0.5rem;
  }
}

